.features {
  padding: 2.5rem 0;
  width: 100%;
}

.step {
  font-family: var(--ifm-font-family-monospace);
  color: var(--ifm-color-primary);
  margin-bottom: 0.75rem;
}

.title {
  font-size: 1.3rem;
}
